* {
    box-sizing: border-box;
}

html, body {
    margin: 0.7em;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

header {
    font-family: "Bitcount Single", system-ui;
    align-self: center;
    justify-content: center;
    margin-bottom: 2em;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20vw));
    gap: 1em;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.project > a {
    width: 100%;
    height: 100%;
    display: block;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.wide {
    grid-column: span 2;
}

.project:hover {
    border: 5px solid rgb(71, 201, 108);
    border-radius: 10px;
    transition: 0.2s;
}
