* {
    box-sizing: border-box;
}

html, body {
    margin: 0.7em;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

header {
    font-family: "Bitcount Single", system-ui;
    align-self: center;
    justify-content: center;
    margin-bottom: 2em;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20vw));
    gap: 1em;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project > a {
    width: 100%;
    height: 100%;
    display: block;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    text-decoration: none;
}

.wide {
    grid-column: span 2;
}

.project:hover {
    border: 5px solid rgb(71, 201, 108);
    border-radius: 10px;
    transition: 0.2s;
}

.project a.pollyglot-thumb {
    position: relative;
    background: url('/PollyGlot/assets/worldmap.png') center/cover no-repeat;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}

.project a.pollyglot-thumb img.parrot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    width: 40%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
}

.project a.pollyglot-thumb p.pollyglot-text {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
    height: auto;
    width: 40%;
    object-fit: contain;
    text-shadow: 1px 1px 3px limegreen;
}