* {
    box-sizing: border-box;
}

html, body {
    margin: 0.7em;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    
}

header {
    font-family: "Bitcount Single", system-ui;
    align-self: center;
    justify-content: center;
    margin-bottom: 2em;
}

main {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20vw));
    gap: 1em;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.project > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    text-decoration: none;
    border-radius: 5px;
}

.wide {
    grid-column: span 2;
}

.project:hover {
    border: 5px solid rgb(71, 201, 108);
    border-radius: 10px;
    transition: 0.2s;
}

.project a.pollyglot-thumb {
    position: relative;
    background: url('/PollyGlot/assets/worldmap.png') center/cover no-repeat;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}

.project a.pollyglot-thumb img.parrot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    width: 40%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
}

.project a.pollyglot-thumb p.pollyglot-text {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
    height: auto;
    width: 40%;
    object-fit: contain;
    text-shadow: 1px 1px 3px limegreen;
}

.reelrecs {
    background-color: white;
    color: #284b63;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1rem;
}

.reelrecs .icon {
    font-size: 1.75rem;
}

.popchoice {
    display: flex;
    background: #000C36;
    font-family: "Carter One", system-ui;
    flex-direction: column;
    gap: 0;
    color: #FFFFFF;
}

.popchoice > img {
    height: auto;
    width: 40%;
    margin: 0;
}

.popchoice > p {
    margin: 0;
}

.travel {
    background-color: white;
    background-image: url(TravelAgent/assets/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.travel p {

    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #112A46;
    text-shadow: 3px 3px 5px white;
    margin-top: 10em;
    font-size: 1rem;
    
}


@media (min-width: 1000px) {
    .travel p {
        font-size: 2rem;
        margin-top: 5em;
        color: white;
        text-shadow: 2px 1px 10px black;
    }
}
