* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body {
    padding: 20px 0;
    margin: 0;
}

body {
    background-color: #F2FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.intro-container > img {
    width: 80vw;
    max-width: 500px;
}

.intro-container > a {
    margin: 0;
    text-decoration: none;
    background-color: #4BDCB0;
    color: black;
    border: 4px solid black;
    border-radius: 40px;
    padding: 10px 80px;
}

main {
    width: 400px;
}

main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}

label {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}

input, .main-btn {
    border: 4px solid black;
    border-radius: 40px;
    padding: 14px;
    background-color: inherit;
    width: 75%;
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
}

input:focus {
    background: #addee9;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.travellers-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 40px;
    padding: 1px 4px;
    width: 80%;
}

#travellers {
    border: none;
    text-align: center;
    background-color: inherit;
    font-weight: 700;
}

.travellers-btn {
    font-family: inherit;
    font-size: 1.2em;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 2px 8px;
}

label:nth-child(3), label:nth-child(7), label:nth-child(11) {
    margin-top: 3em;
}

.main-btn {
    background-color: #4BDCB0;
    margin-top: 0.6em;
}

.main-btn:hover {
    opacity: 0.8;
}

aside.thinking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:auto;
    bottom: auto;
    right: auto;
    left: auto;
    max-width: 600px;
    width: 80%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    padding: 1em;
    background-color: white;
    border-radius: 20px;
    display: none;
}

aside.thinking > img {
    max-width: 100px;
    width: 15%;
}

img.loader {
    animation: spin 3s linear infinite;
}

.blur {
    filter: blur(6px)
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (min-width: 800px) {
    .intro-container > a {
        padding: 15px 140px;
    }

    label:nth-child(3), label:nth-child(7), label:nth-child(11) {
        margin-top: 2em;
    }
}

