html, body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto 0;
    height: 100vh;
}

.intro-container > img {
    width: 80vw;
    max-width: 500px;
}

.intro-container > a {
    margin: 0;
    text-decoration: none;
    background-color: #4BDCB0;
    color: black;
    border: 4px solid black;
    border-radius: 40px;
    padding: 10px 80px;
}


@media (min-width: 800px) {
    .intro-container > a {
        padding: 15px 140px;
    }
}