* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 390px;
    margin: 5px auto;
}

header {
    background: url('assets/worldmap.png') center/cover no-repeat;
    height: 20vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    font-family: 'Big Shoulders Display';
}

header > img {
    width: 100px;
    height: auto;
    float: left;
}

header > div.header-text > h1 {
    color: #32CD32;
    margin: 0 0 0.2em 0;
}

header > div.header-text > p {
    color: white;
    margin: 0;
}

main {
    color: #035A9D;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 1.8em auto;
    height: 70vh;
    width: 93%;
    border: 5px solid #252F42;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main > p {
    margin-top: 1.5em;
    font-size: 1.1em;
}

main > form {
    color: #333333;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main > textarea {
    background-color: #EFF0F4;
    border-radius: 8px;
    border: none;
    padding: 0.75em;
    resize: none;
    width: 90%;
    height: 15vh;
    font-family: inherit;
    font-size: 1em;
    font-weight: 600;
}

main > form > .lang-radios {
    width: 50%;
}

main > form > .translate-btn {
    background-color: #035A9D;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    font-size: large;
    width: 90%;
    padding: 0.7em 0;
    margin-top: 10vh;
}
